@use 'variables';


.event {
    padding : 80px 0;

    &--frontend {
        background: linear-gradient(to bottom, variables.$orange, variables.$bluewhite);
    }

    &--git-giving{
        background: #E99426; 
    }

    &--image-left {
        .container{
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
    }

    &__image {
        max-width: 490px; 
    }

    &__detail{
        &__title {
            font-size: 30px;
            font-weight: bold;
            font-family: "Pacifico", cursive;
            line-height: 30px;
            margin-bottom: 16px;
            color: variables.$TitleColor;
        }

        &__titleBig {
            font-size: 30px;
            font-weight: bold;
            color: variables.$secudaryTextColor;
            line-height: 27px;
        }

        &__description {
            font-size: 16px;
            line-height: 22px;
            padding: 20px 0 20px;
            color: variables.$textColor;
            margin-bottom: 24px;
        }
    }

    @media(max-width: 640px){
        .container {
            display: block;
        }
        &__image {
            width: 100%;
            padding-bottom: 40px;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 8px ;
        }
    }
}